.closeButtonClass {
  margin-top: 5px;
}

.membercardIcon {
  height: 40px;
  width: 40px;
}

.bottomcardsubtitle {
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.earnpointClass {
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
}
