<!-- <ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitleClass">Special Offers</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-badge *ngIf="cartService.cartItemsQuantity" class="cartcountClass" color="success">{{cartService.cartItemsQuantity}}</ion-badge>
        <ion-icon class="header-icons" slot="icon-only" src="assets/icon/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="secondtoolbarClass">
    <ion-label class="noofprodClass">{{specialProducts.length}} Products</ion-label>
    <ion-button class="filterButtonClass" size="small" shape="round" slot="end" fill="outline">Filter</ion-button>

  </ion-toolbar>
</ion-header> -->

<app-subheader subHeaderTitle="Special Offers" backButtonRedirect="/"></app-subheader>
<ion-toolbar class="secondtoolbarClass" color="light">
  <ion-label class="noofprodClass">{{specialProducts.length}} Products</ion-label>
  <ion-button class="filterButtonClass" size="small" shape="round" slot="end" fill="outline">Filter</ion-button>

</ion-toolbar>

<ion-content [fullscreen]="false">

  <ion-grid>
    <ion-row>
      <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" *ngFor="let product of specialProducts" [class]=[product.cssClass] >
        <ion-grid>
          <ion-row>
            <img class="productImage" src="{{product.imageUrl}}" width="70" height="70">
          </ion-row>
          <ion-row>
            <ion-col>
                <h6 class="productTitle">{{product.productname}}</h6>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col class="ion-text-center">
              <ion-badge fill="outline" color="warning">500g</ion-badge>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-wrap">
                <ion-label color="danger" class="saveTag">RS </ion-label>
                <ion-label class="ion-text-nowrap savepriceAmount">{{product.productoursellingprice}}.00</ion-label>

              </ion-label>
            </ion-col>
          </ion-row>
      <ion-row >
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="3" class="ion-text-center">

            <ion-button class="addButtonClass" size="small" expand="block" color="primary" (click)="onClickAddButton(product.key)">ADD</ion-button>

      </ion-col >
      </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
