
.headerTitleClass {
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 10px;
  color: #188841;
}

.secondtoolbarClass {
  border-top: solid 1px #E5E6EB;
  padding-left: 5px;
  padding-right: 5px;
}

.filterButtonClass {
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.noofprodClass {
  color: #6d6d6d;
  font-size: 14px;
  font-family: futura-pt,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cssRightClass {
  border-right: solid 1px #E5E6EB;
  border-bottom: solid 1px #E5E6EB;

}

.cssLeftClass {
  border-bottom: solid 1px #E5E6EB;

}

.productImage {
  margin-left: auto;
  margin-right: auto;
}

.productTitle {
  text-align: center;
  font-family: agenda,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #474747;
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 16px;
  max-height: 48px;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

.saveTag {
  font-family: macho,sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 12px;

}

.savepriceAmount {
  font-family: macho,sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 22px;

}
.addButtonClass {
  font-family: agenda,sans-serif;
  font-weight: 700;
  font-style: normal;
}


.cartcountClass {
  position: absolute;
	top: 1px;
	right: -0.2rem;
	opacity: 0.9;

  & ~ ion-icon {
    margin-right: 1rem;
  }
}
