<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon size="small" src="assets/icon/storeoriginal.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon size="small" src="assets/icon/products.svg"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon size="small" src="assets/icon/special.svg"></ion-icon>
      <ion-label>Specials</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon size="small" src="assets/icon/more.svg"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
