<ion-buttons slot="start">
  <ion-button class="closeButtonClass" (click)="_onClickDismiss()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-grid>
  <ion-row class="ion-nowrap ion-align-items-center selectQuantityTabClass">
    <ion-col class="ion-text-center" size-xs="2" size-sm="4" size-md="3" size-lg="3" *ngFor="let itemQunty of itemQuantity">
      <ion-label class="quantitybageClass" (click)="onClickItemQuantity(itemQunty)">{{itemQunty}}</ion-label>
  </ion-col>

</ion-row>
</ion-grid>
