.maintoolBar {
  border-bottom: solid 1px #E5E6EB;
}

.itemDescrptionClass {
  margin-top: 5px;
  font-size: 13px;
}

.itemRowClass {
  border-bottom: solid 1px #E5E6EB;
}

.minusplusCard {
  width: 70%;
  height: 35px;
  margin-bottom: 7px;
}

.selectedQuantityClass {
  display: block;
}

.buttonClass {
  width: 80%;
  --border-radius: 0px !important;
  height: 35px;
}

.minusplugrowClass {
  border-bottom: solid 1px #E5E6EB;
  border-top: solid 1px #E5E6EB;
}

.totalamountofitem {
  margin-right: 10px;
  margin-bottom: 10px;
}

.removeButton {
  display: block;
}

