<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitleClass">Cart</ion-title>
  </ion-toolbar>
  <ion-toolbar class="secondtoolbarClass">
    <ion-label class="ion-text-wrap">
      <ion-label class="saveTag">Total </ion-label>
      <ion-label class="ion-text-nowrap savepriceAmount">Rs 24.00</ion-label>

    </ion-label>
    <ion-button class="filterButtonClass" color="primary" size="small" slot="end">Checkout</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="checkUserId()">Check User ID</ion-button>

</ion-content>
