.formlistClass {
  margin-right: 20px;
  margin-top: 20px;
}

.termandcontext {
  font-size: 13px;
}

.termsandconstitle {
  font-size: 15px;
}

.termsandconssection {
  margin-top: 30px;
}


.invalidmessage {
  font-style: italic;
  font-size: 13px;
}
